@model IEnumerable<StoreFront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light m-3">Categories</h1>

<p class="m-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table m-5">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-light">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-sm btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
