@model Dictionary<int, CartItemViewModel>
@{
    ViewData["Title"] = "Shopping Cart";
}



<section class="product_section layout_padding">
    <div class="container text-primary">
        <h2>Your <span>Cart</span></h2>
        <p align="center">
            <a asp-action="TiledIndex" asp-controller="Products" class="btn btn-primary text-secondary">Back to Shopping</a>
        </p>
    </div>
    @if (ViewBag.Message != null)
    {
        <p class="alert alert-warning text-center">
            @ViewBag.Message
        </p>
    }
    else
    {
        <table class="table text-light">
            <thead>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (var item in Model.Values)
                {
                    <tr>
                        <td><img src="~/img/t_@item.Product.Image" alt="@item.Product.ProductName" /></td>
                        <td>@Html.DisplayFor(x => item.Product.ProductName)</td>
                        <td>
                            <form asp-action="UpdateCart" method="post">
                                <input type="hidden" name="id" value="@item.Product.ProductId" />

                                <input type="number"
                                       asp-for="@item.Qty"
                                       name="Qty"
                                       class="form-control mx-auto text-center mb-0"
                                       min="0"
                                       max="@short.MaxValue" />
                                <button type="submit" class="btn btn-primary btn-block mt-0 btn-sm">Update Cart</button>
                            </form>
                        </td>
                        <td>@Html.DisplayFor(x => item.Product.Price)</td>
                        <td>@($"{item.Product.Price * item.Qty:c}")</td>
                        <th>
                            <form asp-action="RemoveFromCart">
                                <input type="hidden" name="id" value="@item.Product.ProductId" />
                                <button type="submit" class="btn btn-danger">Remove From Cart</button>
                            </form>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

        <div class="alert alert-success text-center">
            <p>Your total before taxes and shipping is @($"{Model.Values.Sum(x => x.Qty * x.Product.Price):c}.")</p>
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <a asp-action="Checkout" class="btn btn-primary">
                        Submit Order
                    </a>
                </p>
            }
            else
            {
                <p>
                    To place this order, you must be logged in.
                </p>
                <a asp-action="Checkout" disabled class="btn btn-primary">
                    Submit Order
                </a>
            }
        </div>


    }
</section>